.git
.github
.env
.env.*
!.env.example
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/.phpunit.cache
/.phpunit.result.cache
/auth.json
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log*
